@media only screen and (min-width: 200px) and (orientation: portrait) {
  #idDivTablas {
    width: 90%;
    height: auto;
    max-height: 500px;
    /* margin: 10px auto auto auto; */
    background-color: #ffffff;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #idTablaViewer {
    width: 95%;
  }
  #idTablaViewer thead {
    font-size: 9px;
  }
  #idTablaViewer tr th {
    font-size: 9px;
  }
  #idTablaViewer tr td {
    font-size: 9px;
  }
  #idbtnPDF {
    margin-left: 5px;
    margin-right: auto;
  }
}

@media only screen and (min-width: 800px) and (orientation: landscape) {
  #idDivTablas {
    width: 90%;
    height: auto;
    max-height: 500px;
    /* margin: 10px auto auto auto; */
    background-color: #ffffff;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #idTablaViewer {
    width: 95%;
  }
  #idTablaViewer thead {
    font-size: 12px;
  }
  #idTablaViewer tr th {
    font-size: 12px;
  }
  #idTablaViewer tr td {
    font-size: 12px;
  }
  #idbtnPDF {
    margin-left: 5px;
    margin-right: auto;
  }
}

/* Estilos para tablets en orientación vertical (ancho mínimo de 800px) */
@media only screen and (min-width: 800px) and (orientation: portrait) {
  /* Estilos para tablets en orientación vertical */
  #idDivTablas {
    width: 90%;
    height: auto;
    max-height: 500px;
    /* margin: 10px auto auto auto; */
    background-color: #ffffff;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #idTablaViewer {
    width: 95%;
  }
  #idTablaViewer thead {
    font-size: 12px;
  }
  #idTablaViewer tr th {
    font-size: 12px;
  }
  #idTablaViewer tr td {
    font-size: 12px;
  }
  #idbtnPDF {
    margin-left: 5px;
    margin-right: auto;
  }
}

/* Estilos para tablets en orientación landscape (ancho mínimo de 800px) */
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  /* Estilos para tablets en orientación landscape */
  #idDivTablas {
    width: 90%;
    height: auto;
    max-height: 500px;
    /* margin: 10px auto auto auto; */
    background-color: #ffffff;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #idTablaViewer {
    width: 95%;
  }
  #idTablaViewer thead {
    font-size: 12px;
  }
  #idTablaViewer tr th {
    font-size: 12px;
  }
  #idTablaViewer tr td {
    font-size: 12px;
  }
  #idbtnPDF {
    margin-left: 5px;
    margin-right: auto;
  }
}

/* Estilos para dispositivos de escritorio en orientación vertical (ancho mínimo de 1000px) */
@media only screen and (min-width: 1000px) and (orientation: portrait) {
  /* Estilos para dispositivos de escritorio en orientación vertical */
  #idDivTablas {
    width: 90%;
    height: auto;
    max-height: 500px;
    /* margin: 10px auto auto auto; */
    background-color: #ffffff;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #idTablaViewer {
    width: 95%;
  }
  #idTablaViewer thead {
    font-size: 12px;
  }
  #idTablaViewer tr th {
    font-size: 12px;
  }
  #idTablaViewer tr td {
    font-size: 12px;
  }
  #idbtnPDF {
    margin-left: 5px;
    margin-right: auto;
  }
}

/* Estilos para dispositivos de escritorio en orientación landscape (ancho mínimo de 1000px) */
@media only screen and (min-width: 1080px) and (orientation: landscape) {
  /* Estilos para dispositivos de escritorio en orientación landscape */
  #idDivTablas {
    width: 90%;
    height: auto;
    max-height: 500px;
    /* margin: 10px auto auto auto; */
    background-color: #ffffff;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #idTablaViewer {
    width: 95%;
  }
  #idTablaViewer thead {
    font-size: 12px;
  }
  #idTablaViewer tr th {
    font-size: 12px;
  }
  #idTablaViewer tr td {
    font-size: 12px;
  }
  #idbtnPDF {
    margin-left: 5px;
    margin-right: auto;
  }
}
