## Habilitar mod_rewrite ##
<IfModule mod_rewrite.c> 
    RewriteEngine On
    ## Redirigir a HTTPS ## 
    RewriteCond %{HTTPS} off 
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 
    ## Excepciones para API ## 
    RewriteCond %{REQUEST_URI} ^/tcontrol/Pages/Api/api.php [NC] 
    RewriteRule .* - [E=SKIP_SGCAPTCHA:1] 
 </IfModule>

## Aprovechar la caché del navegador ##
<IfModule mod_expires.c>
    ExpiresActive On

    ## Configuración de expiración para imágenes ##
    ExpiresByType image/jpg "access 1 year"
    ExpiresByType image/jpeg "access 1 year"
    ExpiresByType image/gif "access 1 year"
    ExpiresByType image/png "access 1 year"
    ExpiresByType image/x-icon "access 1 year"
    
    ## Configuración de expiración para otros tipos de contenido ##
    ExpiresByType text/css "access 1 month"
    ExpiresByType application/pdf "access 1 month"
    ExpiresByType application/javascript "access 1 month"
    ExpiresByType application/x-javascript "access 1 month"
    ExpiresByType application/x-shockwave-flash "access 1 month"

    ## Expiración predeterminada para otros contenidos ##
    ExpiresDefault "access 2 days"
</IfModule>

## Configuración de PHP ##
<IfModule mod_php7.c>
    php_value upload_max_filesize 64M
    php_value post_max_size 64M
    php_value memory_limit 256M
    php_value max_execution_time 300
    php_value max_input_time 300
</IfModule>

## Definir tipos MIME ##
<IfModule mod_mime.c>
    AddType application/javascript .js
    AddType text/css .css
    AddType image/png .png
    AddType image/jpeg .jpg .jpeg
    AddType image/bmp .bmp
    AddType image/gif .gif
    AddType image/webp .webp
    AddType application/pdf .pdf
    AddType application/x-shockwave-flash .swf
    AddType image/x-icon .ico
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE, PUT"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>
