# Habilita el seguimiento de enlaces simbólicos
Options +FollowSymLinks

# Habilita el motor de reescritura
RewriteEngine On

# Redirige las solicitudes a datos.php, pasando la parte de la URL como el parámetro urlUser
RewriteRule ^([a-z0-9\-_]+)$ datos.php?urlUser=$1 [QSA]

# Si el archivo o directorio solicitado no existe, redirige a page404.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z0-9\-_]+)$ page404.php [L]

# Redirige cualquier otra solicitud a index.php
RewriteRule ^(.*)$ index.php [L,QSA]

# Establece index.php como el archivo de índice predeterminado
DirectoryIndex index.php

# Si la solicitud se hace por HTTP, redirige a HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Establece los tipos MIME para los archivos JavaScript y CSS
AddType application/javascript .js
AddType text/css .css
AddType image/x-icon .ico