/* Estilos comunes para todas las resoluciones */
body {
  grid-area: body;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-gap: 1px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: auto;
}

header {
  display: block;
}

main {
  overflow-y: auto;
  height: auto;
  min-width: 100%;
}

.div-reportes-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button-reportes-menu {
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #fff;
  border: none;
  border-radius: 3px;
  height: 48px;
  width: 247px;
}

.button-reportes-menu:hover {
  background: #cecece;
  cursor: pointer;
}

hr {
  width: 100%;
  color: #cecece;
}

#tableControlViews {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  overflow-y: auto;
  width: 90%;
}

thead {
  background: #000000;
  width: 90%;
  height: 30px;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

tbody {
  background: #ffffff;
  width: 90%;
  margin-bottom: 1px;
}

tbody tr {
  width: 90%;
}

tbody tr td {
  height: 30px;
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

tbody tr td span {
  font-size: 10px;
}

table tbody tr td input,
table tbody tr td textarea,
table tbody tr td button {
  font-size: 9px;
  width: 90%;
  border: 1px solid #000;
}

table tbody tr td div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table tbody tr td div input {
  font-size: 9px;
  width: 50%;
  height: 100%;
  margin-left: 10px;
  border: 1px solid #000;
}

table tbody tr td div button {
  font-size: 7px;
  width: 20%;
  height: 14px;
  margin-right: 10px;
  border-radius: 3px;
}

table tbody tr td img {
  height: 20px;
  width: 20px;
}

.img-view {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

/* Media Queries */
@media only screen and (min-width: 200px) and (orientation: portrait) {
  .button-reportes-menu {
    font-size: 12px;
  }

  tbody tr td,
  tbody tr td span,
  table tbody tr td input,
  table tbody tr td textarea,
  table tbody tr td button {
    font-size: 9px;
  }

  table tbody tr td div button {
    font-size: 7px;
  }

  table tbody tr td img {
    height: 15px;
    width: 15px;
  }

  .img-view {
    height: 12px;
    width: 12px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .button-reportes-menu {
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait) {
  .button-reportes-menu {
    font-size: 12px;
  }
  table tbody tr td {
    font-size: 12px;
  }
  tbody tr td span {
    font-size: 11px;
  }
  .img-view {
    height: 18px;
    width: 18px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) and (orientation: landscape) {
  .button-reportes-menu {
    font-size: 12px;
  }
  table tbody tr td {
    font-size: 12px;
  }
  tbody tr td span {
    font-size: 11px;
  }
  .img-view {
    height: 18px;
    width: 18px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  .button-reportes-menu {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1800px) and (orientation: landscape) {
  .button-reportes-menu {
    font-size: 12px;
  }
}
