/* Estilos comunes para todas las resoluciones */
body {
  grid-area: body;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-gap: 1px;
  margin: 0;
  padding: 0;
  /* flex-direction: column; */
  height: auto;
}

main {
  display: block;
  overflow-y: auto;
  min-height: 0;
  grid-template-rows: auto auto; /* Dos filas, cada una con un div en dispositivos móviles */
  grid-template-columns: 100%; /* Una columna en móviles */
}

.div1,
.div2,
.div3 {
  margin-top: 10px;
  padding: 10px; /* Espacio interior para visualización */
  border: 1px solid #ccc; /* Borde para mejor visualización */
}

form {
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
  font-size: 10px;
  color: #9d9d9d;
  margin-bottom: 2px;
}

input[type='text'],
input[type='email'],
input[type='date'] {
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #000;
  margin-top: 2px;
  padding-left: 5px;
  height: 20px;
}

select {
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #000;
  margin-top: 2px;
  padding-left: 5px;
  height: 25px;
}

textarea {
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #000;
  margin-top: 2px;
  padding-left: 5px;
  width: 98%; /* Ocupa el 100% del ancho del contenedor */
  height: 50px; /* Altura fija de 150px */
  min-width: 300px; /* Mínimo ancho de 300px */
  max-width: 400px; /* Máximo ancho de 600px */
  min-height: 50px; /* Mínimo altura de 100px */
  max-height: 700px; /* Máximo altura de 300px */
  resize: none;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
}

hr {
  border: none;
  height: 1px;
  background-color: #bababa;
  margin: 0;
  width: 100%;
}

.input-button {
  display: block;
  width: 100%;
  margin-top: 2px;
}

.input-button .input-field {
  flex-grow: 9;
  flex-shrink: 1;
  flex-basis: 0%;
  margin-right: 10px; /* Añade espacio entre el input y el botón */
}

.input-button .add-button {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.input-field {
  height: 20px;
}

.add-button {
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
}

.div-pastillita,
.div-pastillita-s {
  /*display: inline-flex; /* Cambiado de 'flex' a 'inline-flex' */
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  padding: 10px;
  height: 20px;
  justify-content: left;
  align-items: center; /* Asegurar alineación vertical del contenido */
  margin-bottom: 10px;
}

.span-variable {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 60%;
  display: inline-block;
}
.span-variable-s {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 70%;
  border: 1px solid #aaa;
  box-shadow: none;
  pointer-events: none;
  cursor: not-allowed;
  color: #212121;
  background-color: #cecece;
}
.select-control {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 60%;
  display: inline-block;
  height: 25px;
}

.span-ON {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: green;
  font-size: 14px;
  font-style: normal;
  margin-left: 10px;
}
.span-OFF {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: red;
  font-size: 14px;
  font-style: normal;
  margin-left: 10px;
}
.img-view-OFF {
  height: 20px;
  margin-left: 10px;
}
.img-view-ON {
  height: 20px;
  margin-left: 10px;
}

.img-arrow {
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.button-add {
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 20%;
}
#leyenda {
  display: none;
  color: red;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titulo,
#titulo-c {
  margin-top: 5px;
  margin-left: 20px;

  font-size: 20px;
  color: #9d9d9d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sinControles {
  display: none;
  color: red;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Media Queries */
@media only screen and (min-width: 200px) and (orientation: portrait) {
}

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
}

@media only screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait) {
  main {
    grid-template-rows: 1fr; /* Una fila */
    grid-template-columns: 1fr 1fr; /* Dos columnas */
  }

  .div1,
  .div2 {
    border: 1px solid #ccc;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) and (orientation: landscape) {
  main {
    grid-template-rows: 1fr; /* Una fila */
    grid-template-columns: 1fr 1fr; /* Dos columnas */
  }

  .div1,
  .div2 {
    border: 1px solid #ccc;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  main {
    grid-template-rows: 1fr; /* Una fila */
    grid-template-columns: 1fr 1fr; /* Dos columnas */
  }

  .div1,
  .div2 {
    border: 1px solid #ccc;
  }
}

@media only screen and (min-width: 1800px) and (orientation: landscape) {
  main {
    grid-template-rows: 1fr; /* Una fila */
    grid-template-columns: 1fr 1fr; /* Dos columnas */
  }

  .div1,
  .div2 {
    border: 1px solid #ccc;
  }
}
