@media only screen and (min-width: 200px) and (orientation: portrait) {
  #idSignal {
    width: 25px;
    height: 25px;

    margin-left: 10px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  #idSignal {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
  }
}
/* Estilos para tablets en orientación vertical (ancho mínimo de 800px) */
@media only screen and (min-width: 768px) and (max-width: 834px) and (min-height: 1024px) and (max-height: 1126px) and (orientation: portrait) {
  /* Estilos para tablets en orientación vertical */
  #idSignal {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

/* Estilos para tablets en orientación landscape (ancho mínimo de 800px) */
@media only screen and (min-width: 1024px) and (max-width: 1126px) and (min-height: 768px) and (max-height: 834px) and (orientation: landscape) {
  /* Estilos para tablets en orientación landscape */
  #idSignal {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

/* Estilos para dispositivos de escritorio en orientación vertical (ancho mínimo de 1000px) */
@media only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  #idSignal {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

/* Estilos para dispositivos de escritorio en orientación landscape (ancho mínimo de 1000px) */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  /* Estilos para dispositivos de escritorio en orientación landscape */
  #idSignal {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
  }
}
