.div-encabezadoDoc {
  height: auto;
  margin-top: 4px;
}
.div-ubicacionDoc {
  height: auto;
  text-align: center;
  margin-top: 5px;
  width: 217px;
  position: relative;
  background: #cecece;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 10px;
  display: none;
}

#doc {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  color: #393939;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 150px;
  height: 15px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  text-align: center;
  outline: none;
}

.input-con-icono {
  padding-right: 20px;
  box-sizing: border-box;
}

.icono-busqueda {
  position: absolute;
  margin-left: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

@media (min-width: 800px) {
}
@media only screen and (min-width: 820px) and (orientation: landscape) {
}
