.div-encabezado {
  height: auto;
  margin-top: 40px;
}
.div-ubicacion {
  height: auto;
  text-align: center;
  margin-top: 0px;
}
.div-volver {
  margin-top: 0px;
  height: auto;
}
.div-volver img {
  margin-left: 10px;
  display: none;
}
.div-ubicacion #spanUbicacion {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.div-person {
  height: auto;
  text-align: center;
}
#spanPerson {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-style: italic;
}
#volver:hover {
  background: #ececec;
  border-radius: 20px;
  cursor: pointer;
}

@media (min-width: 800px) {
  #spanPerson {
    font-size: 14px;
  }
  #spanUbicacion {
    font-size: 20px;
  }
}
@media only screen and (min-width: 820px) and (orientation: landscape) {
  #spanUbicacion {
    font-size: 20px;
  }
}
