.div-encabezado{
  margin-top: 5px;
}
.div-ubicacion{
  height: auto;
 text-align: center;
 margin-top: 5px;
}
.div-ubicacion #spanUbicacion{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.div-person{
  height: auto;
  text-align: center;
}
#spanPerson{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-style: italic;
}

@media (min-width: 800px){
  #spanPerson{
    font-size: 14px;
  }
  #spanUbicacion{
    font-size: 20px;
  }
}
@media only screen and  (min-width: 820px) and (orientation: landscape) {
  #spanUbicacion{
    font-size: 20px;
  }
}
