.div-footer{
  width: 100%;
  height: 10px;
  text-align: center;
}
a {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  text-decoration: none;
  color: inherit;

}

@media (min-width: 800px) {
  a{
    font-size: 14px;
  }
}
