@media only screen and (min-width: 200px) and (orientation: portrait) {
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas:
      'div-header'
      'div-macCain';
    margin: 0;
  }
  .div-header {
    grid-area: div-header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.2fr 0.4fr 2fr 0.5fr 0.3fr;
    grid-template-areas:
      'headerMenu headerVersion headerFactum headerLenguaje headerPerson'
      'header-McCain header-McCain header-McCain header-McCain header-McCain';
    /* grid-gap: 1px; */
    background-color: #fd1f02;
    height: 45px;
  }
  .headerMenu {
    grid-area: headerMenu;
    display: grid;
    /* border:solid 2px rgb(133, 6, 6); */
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'div-menu';
    grid-gap: 1px;
    height: 30px;
  }
  .div-menu {
    display: block;
  }
  .headerFactum {
    grid-area: headerFactum;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 90%;
  }
  .logoFactum {
    margin-top: auto;
    margin-bottom: auto;
  }
  .headerLenguaje {
    display: block;
    text-align: center;
    justify-content: center;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
  }
  #planta {
    font-size: 18px;
    margin-top: 7px;
  }
  .headerPerson {
    display: block;
    width: 80%;
    padding: 5px;
    margin-right: 5px;
  }
  .header-McCain {
    height: 60px;
    text-align: center;
    background: #ececec;
  }
  .div-McCain {
    height: 60px;
    text-align: center;
    background: #ececec;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
  }
  #logo_mccain {
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #logo_factum {
    height: 30px;
    width: 80px;
    margin-top: 7px;
  }
  .custom-button {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    cursor: pointer;
    margin-top: 2px;
    transition: background-color 0.3s;
    border: none;
    background: transparent;
    color: #ececec;
  }
  .custom-button:hover {
    background-color: #cecece;
  }
  #hamburguesa {
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
    cursor: pointer;
  }
  #hamburguesa:hover {
    border: 3px solid #212121;
    background-color: #212121;
    border-radius: 10px 10px 0px 0px;
  }

  #person {
    height: 30px;
    cursor: pointer;
  }
  #person:hover {
    border: 3px solid #212121;
    background-color: #212121;
    border-radius: 10px 10px 0px 0px;
  }
  .headerVersion {
    justify-content: center;
    margin-left: 20px;
    width: 70px;
    height: 45px;
  }
  .version {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #ececec;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  /* Estilos para dispositivos móviles en orientación landscape */
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas:
      'div-header'
      'div-macCain';
    margin: 0;
  }
  .div-header {
    grid-area: div-header;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.2fr 0.4fr 2fr 0.5fr 0fr;
    grid-template-areas:
      'headerMenu headerVersion headerFactum headerLenguaje headerPerson'
      'header-McCain header-McCain header-McCain header-McCain header-McCain';
    /* grid-gap: 1px; */
    background-color: #fd1f02;
    height: 45px;
  }
  .headerFactum {
    grid-area: headerFactum;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 90%;
  }
  .logoFactum {
    margin-top: auto;
    margin-bottom: auto;
  }
  .headerLenguaje {
    display: block;
    text-align: center;
    justify-content: center;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
  }

  #planta {
    font-size: 18px;
    margin-top: 7px;
  }
  .headerPerson {
    display: block;
    width: 80%;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
  #logo_factum {
    height: 30px;
    width: 80px;
    margin-top: 7px;
  }
  .logoFactum {
    margin: 4px auto 4px auto;
  }
  .headerVersion {
    justify-content: center;
    margin-left: 20px;
    width: 70px;
    height: 45px;
  }
  .version {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #ececec;
    margin-top: 5px;
  }
  .header-McCain {
    display: none;
  }
  .custom-button {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    cursor: pointer;
    margin-top: 7px;
    transition: background-color 0.3s;
    border: none;
    background: transparent;
    color: #ececec;
  }
  .custom-button:hover {
    background: #cecece;
  }
  #hamburguesa {
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
    cursor: pointer;
  }
  #hamburguesa:hover {
    border: 3px solid #212121;
    background-color: #212121;
    border-radius: 10px 10px 0px 0px;
  }
}

/* Estilos para tabletas en formato portrait */
@media only screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait) {
  /* Estilos para tablets en orientación vertical */
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas:
      'div-header'
      'div-macCain';
    margin: 0;
  }
  .div-header {
    grid-area: div-header;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.2fr 0.4fr 2fr 0.5fr 0.2fr;
    grid-template-areas:
      'headerMenu headerVersion headerFactum headerLenguaje headerPerson'
      'header-McCain header-McCain header-McCain header-McCain header-McCain';
    /* grid-gap: 1px; */
    background-color: #fd1f02;
    height: 45px;
  }
  .headerMenu {
    grid-area: headerMenu;
    display: grid;
    /* border:solid 2px rgb(133, 6, 6); */
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'div-menu';
    grid-gap: 1px;
    height: 30px;
  }
  .div-menu {
    display: block;
  }
  .headerFactum {
    grid-area: headerFactum;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
  }
  .header-McCain {
    height: 60px;
    text-align: center;
    background: #ececec;
    display: block;
  }
  .div-McCain {
    height: 60px;
    text-align: center;
    background: #ececec;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
  }
  #logo_mccain {
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #logo_factum {
    height: 30px;
    width: 80px;
    margin-top: 7px;
  }
  .custom-button {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    cursor: pointer;
    margin-top: 2px;
    transition: background-color 0.3s;
    border: none;
    background: transparent;
    color: #ececec;
  }
  .custom-button:hover {
    background-color: #cecece;
  }
  .headerLenguaje {
    display: block;
    text-align: center;
    justify-content: center;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
  }
  #planta {
    font-size: 18px;
    margin-top: 7px;
  }
  #hamburguesa {
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
    cursor: pointer;
  }
  #hamburguesa:hover {
    border: 3px solid #212121;
    background-color: #212121;
    border-radius: 10px 10px 0px 0px;
  }
  .headerPerson {
    display: block;
    width: 80%;
    padding: 5px;
    margin-right: 5px;
  }
  #person {
    height: 30px;
    cursor: pointer;
  }
  #person:hover {
    border: 3px solid #212121;
    background-color: #212121;
    border-radius: 10px 10px 0px 0px;
  }
  .headerVersion {
    justify-content: center;
    margin-left: 20px;
    width: 70px;
    height: 45px;
  }
  .version {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #ececec;
    margin-top: 8px;
  }
}

/* Estilos para tabletas en formato landscape */
@media only screen and (min-width: 1024px) and (max-width: 1200px) and (orientation: landscape) {
  /* Estilos para tablets en orientación landscape */
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas:
      'div-header'
      'div-macCain';
    margin: 0;
  }
  .div-header {
    grid-area: div-header;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.2fr 0.4fr 2fr 0.5fr 0.2fr;
    grid-template-areas:
      'headerMenu headerVersion headerFactum headerLenguaje headerPerson'
      'header-McCain header-McCain header-McCain header-McCain header-McCain';
    /* grid-gap: 1px; */
    background-color: #fd1f02;
    height: 45px;
  }
  .headerMenu {
    grid-area: headerMenu;
    display: grid;
    /* border:solid 2px rgb(133, 6, 6); */
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'div-menu';
    grid-gap: 1px;
    height: 30px;
  }
  .div-menu {
    display: block;
  }
  .headerFactum {
    grid-area: headerFactum;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
  }
  .header-McCain {
    height: 60px;
    text-align: center;
    background: #ececec;
    display: block;
  }
  .div-McCain {
    height: 60px;
    text-align: center;
    background: #ececec;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
  }
  #logo_mccain {
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #logo_factum {
    height: 30px;
    width: 80px;
    margin-top: 7px;
  }
  .custom-button {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    cursor: pointer;
    margin-top: 7px;
    transition: background-color 0.3s;
    border: none;
    background: transparent;
    color: #ececec;
  }
  .custom-button:hover {
    background-color: #cecece;
  }
  #hamburguesa {
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
    cursor: pointer;
  }
  #hamburguesa:hover {
    border: 3px solid #212121;
    background-color: #212121;
    border-radius: 10px 10px 0px 0px;
  }
  .headerPerson {
    display: block;
    width: 80%;
    padding: 5px;
    margin-right: 5px;
  }
  #person {
    height: 30px;
    cursor: pointer;
  }
  #person:hover {
    border: 3px solid #212121;
    background-color: #212121;
    border-radius: 10px 10px 0px 0px;
  }
  .headerVersion {
    justify-content: center;
    margin-left: 20px;
    width: 70px;
    height: 45px;
  }
  .version {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #ececec;
    margin-top: 8px;
  }
}

/* Estilos para pantallas grandes en formato portrait */
@media only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  /* Estilos para dispositivos de escritorio en orientación vertical */
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas:
      'div-header'
      'div-macCain';
    margin: 0;
  }
  .div-header {
    grid-area: div-header;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.2fr 0.4fr 2fr 0.5fr 0.2fr;
    grid-template-areas:
      'headerMenu headerVersion headerFactum headerLenguaje headerPerson'
      'header-McCain header-McCain header-McCain header-McCain header-McCain';
    /* grid-gap: 1px; */
    background-color: #fd1f02;
    height: 50px;
  }
  .headerMenu {
    grid-area: headerMenu;
    display: grid;
    /* border:solid 2px rgb(133, 6, 6); */
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'div-menu';
    grid-gap: 1px;
    height: 30px;
  }
  .div-menu {
    display: block;
  }
  .headerFactum {
    grid-area: headerFactum;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
  }
  .header-McCain {
    height: 60px;
    text-align: center;
    background: #ececec;
    display: block;
  }
  .div-McCain {
    height: 60px;
    text-align: center;
    background: #ececec;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
  }
  #logo_mccain {
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #logo_factum {
    height: 30px;
    width: 80px;
    margin-top: 7px;
  }
  .headerLenguaje {
    display: block;
    text-align: center;
    justify-content: center;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
  }
  #planta {
    font-size: 18px;
    margin-top: 7px;
  }
  .custom-button {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    cursor: pointer;
    margin-top: 7px;
    transition: background-color 0.3s;
    border: none;
    background: transparent;
    color: #ececec;
  }
  .custom-button:hover {
    background-color: #cecece;
  }
  #hamburguesa {
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
    cursor: pointer;
  }
  #hamburguesa:hover {
    border: 3px solid #212121;
    background-color: #212121;
    border-radius: 10px 10px 0px 0px;
  }
  .headerPerson {
    display: block;
    width: 80%;
    padding: 7px;
    margin-right: 5px;
  }
  #person {
    height: 35px;
    cursor: pointer;
  }
  #person:hover {
    border: 3px solid #212121;
    background-color: #212121;
    border-radius: 10px 10px 0px 0px;
  }
  .headerVersion {
    justify-content: center;
    margin-left: 20px;
    width: 70px;
    height: 45px;
  }
  .version {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #ececec;
    margin-top: 8px;
  }
}

/* Estilos para pantallas grandes en formato landscape */
@media only screen and (min-width: 1800px) and (orientation: landscape) {
  /* Estilos para dispositivos de escritorio en orientación landscape */
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas:
      'div-header'
      'div-macCain';
    margin: 0;
  }
  .div-header {
    grid-area: div-header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.2fr 0.4fr 2fr 0.5fr 0.3fr;
    grid-template-areas:
      'headerMenu headerVersion headerFactum headerLenguaje headerPerson'
      'header-McCain header-McCain header-McCain header-McCain header-McCain';
    /* grid-gap: 1px; */
    background-color: #fd6c02;
    height: 50px;
  }
  .headerMenu {
    grid-area: headerMenu;
    display: grid;
    /* border:solid 2px rgb(133, 6, 6); */
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'div-menu';
    grid-gap: 1px;
    height: 30px;
  }
  .div-menu {
    display: block;
  }
  .headerFactum {
    grid-area: headerFactum;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
  }
  .header-McCain {
    height: 60px;
    text-align: center;
    background: #ececec;
    display: block;
  }
  .div-McCain {
    height: 60px;
    text-align: center;
    background: #ececec;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
  }
  #logo_mccain {
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
  }
  #logo_factum {
    height: 30px;
    width: 80px;
    margin-top: 7px;
  }
  .headerLenguaje {
    display: block;
    text-align: center;
    justify-content: center;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
  }
  #planta {
    font-size: 20px;
    margin-top: 7px;
  }

  .custom-button {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    cursor: pointer;
    margin-top: 7px;
    transition: background-color 0.3s;
    border: none;
    background: transparent;
    color: #ececec;
  }
  .custom-button:hover {
    background-color: #cecece;
  }
  #hamburguesa {
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
    cursor: pointer;
  }
  #hamburguesa:hover {
    border: 3px solid #212121;
    background-color: #212121;
    border-radius: 10px 10px 0px 0px;
  }
  .headerPerson {
    display: block;
    width: 80%;
    padding: 5px;
    margin-right: 5px;
  }
  #person {
    height: 35px;
    cursor: pointer;
  }
  #person:hover {
    border: 3px solid #212121;
    background-color: #212121;
    border-radius: 10px 10px 0px 0px;
  }
  .headerVersion {
    justify-content: center;
    margin-left: 20px;
    width: 100px;
    height: 45px;
  }
  .version {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #ececec;
    margin-top: 8px;
  }
}
