/* Estilos comunes */
.div-encabezadoPastillas {
  height: auto;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}
.div-pastillas {
  height: auto;
  text-align: center;
  margin-top: 15px;
  width: auto;
  margin-left: 1rem;
  margin-right: auto;
}

.pastilla {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  /* color: #393939; */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 25%;
  height: 25px;
  flex-shrink: 0;
  border: none;
  border-radius: 15px;
  /* background: #817f7f; */
  text-align: center;
  outline: none;
  margin-left: 2px;
  cursor: pointer;
}

/* Media queries */
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .div-encabezadoPastillas {
    height: auto;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
  .div-pastillas {
    display: inline-flex;
    justify-content: space-between;
    width: 150px;
    margin-left: 5rem;
    margin-right: auto;
  }
  .pastilla {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait) {
  .div-pastillas {
    display: inline-flex;
    /* justify-content: space-between; */
    width: 150px;
    margin-left: 10rem;
    margin-right: auto;
  }
  .pastilla {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) and (orientation: landscape) {
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  .pastilla {
    font-size: 18px;
    height: 30px;
  }
}

@media only screen and (min-width: 1800px) and (orientation: landscape) {
  .pastilla {
    font-size: 18px;
    height: 30px;
  }
}
