/*
  AVISO: Este archivo ya no se utiliza. Sus estilos han sido migrados a 'common-components.css'.
  Puede eliminarse de forma segura una vez confirmada la migración total.
*/

/* Estilos comunes */
.div-encabezadoSearch {
  height: auto;
  margin-top: 4px;
}
.div-ubicacionSearch {
  height: auto;
  text-align: center;
  margin-top: 15px;
  width: auto;
}

#search {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #393939;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 82%;
  height: 30px;
  flex-shrink: 0;
  border: none;
  border-radius: 10px;
  background: #d9d9d9;
  display: none;
  text-align: left;
  outline: none;
  padding-left: 10px;
}

/* Media queries */

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape),
  only screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait),
  only screen and (min-width: 1024px) and (max-width: 1200px) and (orientation: landscape),
  only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape),
  only screen and (min-width: 1800px) and (orientation: landscape) {
  #search {
    width: 83%;
  }
}
