/*
  AVISO: Este archivo ya no se utiliza. Sus estilos han sido migrados a 'common-components.css'.
  Puede eliminarse de forma segura una vez confirmada la migración total.
}
*/
.spinner {
  width: 100%;
  height: 2px; /*Altura de la barra de progreso
  background-color: #007bff; /* Color de la barra de progreso */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* Asegura que esté en la parte superior */
  animation: spinner 2s linear infinite; /* Animación del spinner */
  visibility: hidden;
}

@keyframes spinner {
  0% {
    left: -100%; /* Inicio de la animación */
  }
  100% {
    left: 100%; /* Fin de la animación */
  }
}
