/* Estilos comunes para todas las resoluciones */
.div-encabezadoUs,
.div-ubicacionUS {
  height: auto;
  margin-top: 20px;
  text-align: center;
}

.div-ubicacionUs #whereUs {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 700;
}

#whereUs {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  background: #ececec;
  display: none;
  width: auto;
}

/* Media Queries */
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape),
  only screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait),
  only screen and (min-width: 1024px) and (max-width: 1126px) and (orientation: landscape),
  only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape),
  only screen and (min-width: 1800px) and (orientation: landscape) {
  .div-ubicacionUs #whereUs {
    font-size: 14px;
  }

  #whereUs {
    font-size: 14px;
  }
}
