@media only screen and (min-width: 200px) and (orientation: portrait) {
  .div-encabezadoUs {
    height: auto;
    margin-top: 20px;
    text-align: center;
  }
  .div-ubicacionUS {
    height: auto;
    margin-top: 5px;
    width: auto;
  }
  .div-ubicacionUs #whereUs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 700;
  }

  #whereUs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-style: normal;
    background: #ececec;
    display: none;
    width: auto;
  }
}

@media only screen and (min-width: 800px) and (orientation: landscape) {
  .div-encabezadoUs {
    height: auto;
    margin-top: 20px;
    text-align: center;
  }
  .div-ubicacionUS {
    height: auto;
    margin-top: 5px;
    width: auto;
  }
  .div-ubicacionUs #whereUs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 700;
  }

  #whereUs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    background: #ececec;
    display: none;
    width: auto;
  }
}

/* Estilos para tablets en orientación vertical (ancho mínimo de 800px) */
@media only screen and (min-width: 800px) and (orientation: portrait) {
  /* Estilos para tablets en orientación vertical */
  .div-encabezadoUs {
    height: auto;
    margin-top: 20px;
    text-align: center;
  }
  .div-ubicacionUS {
    height: auto;
    margin-top: 5px;
    width: auto;
  }
  .div-ubicacionUs #whereUs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
  }

  #whereUs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    background: #ececec;
    display: none;
    width: auto;
  }
}

/* Estilos para tablets en orientación landscape (ancho mínimo de 800px) */
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  /* Estilos para tablets en orientación landscape */
  .div-encabezadoUs {
    height: auto;
    margin-top: 20px;
    text-align: center;
  }
  .div-ubicacionUS {
    height: auto;
    margin-top: 5px;
    width: auto;
  }
  .div-ubicacionUs #whereUs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
  }

  #whereUs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    background: #ececec;
    display: none;
    width: auto;
  }
}

/* Estilos para dispositivos de escritorio en orientación vertical (ancho mínimo de 1000px) */
@media only screen and (min-width: 1000px) and (orientation: portrait) {
  /* Estilos para dispositivos de escritorio en orientación vertical */
  .div-encabezadoUs {
    height: auto;
    margin-top: 20px;
    text-align: center;
  }
  .div-ubicacionUS {
    height: auto;
    margin-top: 5px;
    width: auto;
  }
  .div-ubicacionUs #whereUs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
  }

  #whereUs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    background: #ececec;
    display: none;
    width: auto;
  }
}

/* Estilos para dispositivos de escritorio en orientación landscape (ancho mínimo de 1000px) */
@media only screen and (min-width: 1080px) and (orientation: landscape) {
  /* Estilos para dispositivos de escritorio en orientación landscape */
  .div-encabezadoUs {
    height: auto;
    margin-top: 20px;
    text-align: center;
  }
  .div-ubicacionUS {
    height: auto;
    margin-top: 5px;
    width: auto;
  }
  .div-ubicacionUs #whereUs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
  }

  #whereUs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    background: #ececec;
    display: none;
    width: auto;
  }
}
