/* Estilos comunes para todas las resoluciones */
.div-wichControl {
  margin-top: 15px;
}

.div-wich {
  height: auto;
  text-align: center;
  margin-top: 5px;
  width: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: 700;
}

.div-wich img {
  height: 15px;
  width: 15px;
}

#wichC {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  background: #ececec;
  display: none;
  width: auto;
}

#wichCEmail {
  display: none;
}

/* Media Queries */
@media only screen and (min-width: 200px) and (orientation: portrait) {
  /* Estilos para resoluciones en orientación portrait */
}

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  /* Estilos para tabletas en formato landscape */
  .div-wichControl {
    margin-top: 15px;
  }
  .div-wich {
    height: auto;
    text-align: center;
    margin-top: 5px;
    width: auto;
  }
  .div-wich img {
    height: 15px;
    width: 15px;
  }

  #wichC {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    background: #ececec;
    display: none;
    width: auto;
  }
  #wichCEmail {
    display: none;
  }
}

/* Estilos para tabletas en formato portrait */
@media only screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait) {
  /* Estilos para tabletas en orientación vertical */
  .div-wichControl {
    margin-top: 15px;
  }
  .div-wich {
    height: auto;
    text-align: center;
    margin-top: 5px;
    width: auto;
  }
  .div-wich img {
    height: 15px;
    width: 15px;
  }

  #wichC {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    background: #ececec;
    display: none;
    width: auto;
  }
  #wichCEmail {
    display: none;
  }
}

/* Estilos para tabletas en formato landscape */
@media only screen and (min-width: 1024px) and (max-width: 1126px) and (orientation: landscape) {
  /* Estilos para tablets en orientación landscape */
  .div-wichControl {
    margin-top: 15px;
  }
  .div-wich {
    height: auto;
    text-align: center;
    margin-top: 5px;
    width: auto;
  }
  .div-wich img {
    height: 15px;
    width: 15px;
  }

  #wichC {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    background: #ececec;
    display: none;
    width: auto;
  }
  #wichCEmail {
    display: none;
  }
}

/* Estilos para pantallas grandes en formato portrait */
@media only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  /* Estilos para dispositivos de escritorio en orientación vertical */
  .div-wichControl {
    margin-top: 15px;
  }
  .div-wich {
    height: auto;
    text-align: center;
    margin-top: 5px;
    width: auto;
  }
  .div-wich img {
    height: 15px;
    width: 15px;
  }

  #wichC {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    background: #ececec;
    display: none;
    width: auto;
  }
  #wichCEmail {
    display: none;
  }
}

/* Estilos para pantallas grandes en formato landscape */
@media only screen and (min-width: 1800px) and (orientation: landscape) {
  /* Estilos para dispositivos de escritorio en orientación landscape */
  .div-wichControl {
    margin-top: 15px;
  }
  .div-wich {
    height: auto;
    text-align: center;
    margin-top: 5px;
    width: auto;
  }
  .div-wich img {
    height: 15px;
    width: 15px;
  }

  #wichC {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    background: #ececec;
    display: none;
    width: auto;
  }
  #wichCEmail {
    display: none;
  }
}
