/* Estilos comunes para todas las resoluciones */
.div-sadmin-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-selector-sadmin {
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: #cecece;
  border: 2px solid black;
  height: 45px;
  width: 80%;
  cursor: pointer;
}

.button-selector-sadmin:hover {
  background: #ececec;
  cursor: pointer;
}

/* Media Queries */
@media only screen and (min-width: 200px) and (orientation: portrait) {
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 1px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: auto;
  }
  header {
    display: block;
  }
  main {
    overflow-y: auto;
    height: auto;
  }
  .div-sadmin-buttons {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 1px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: auto;
  }
  header {
    display: block;
    height: auto;
  }
  main {
    overflow-y: auto;
    height: auto;
  }
  .div-sadmin-buttons {
    margin-top: 40px;
  }
  .button-selector-sadmin {
    width: 40%;
  }
}

/* Estilos para tabletas en formato portrait */
@media only screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait) {
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 1px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: auto;
  }
  header {
    display: block;
    height: 100px;
  }
  main {
    overflow-y: auto;
    height: auto;
  }
  .div-sadmin-buttons {
    margin-top: 140px;
  }
  .button-selector-sadmin {
    width: 40%;
  }
}

/* Estilos para tabletas en formato landscape */
@media only screen and (min-width: 1024px) and (max-width: 1200px) and (orientation: landscape) {
  .div-sadmin-buttons {
    margin-top: 70px;
  }
  .button-selector-sadmin {
    width: 40%;
  }
}

/* Estilos para pantallas grandes en formato portrait */
@media only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  .div-sadmin-buttons {
    margin-top: 70px;
  }
  .button-selector-sadmin {
    font-size: 18px;
    height: 50px;
    width: 30%;
  }
  .button-selector-sadmin:hover {
    background: #9d9d9d;
  }
}

/* Estilos para pantallas grandes en formato landscape */
@media only screen and (min-width: 1800px) and (orientation: landscape) {
  .div-sadmin-buttons {
    margin-top: 70px;
  }
  .button-selector-sadmin {
    font-size: 18px;
    height: 50px;
    width: 30%;
  }
  .button-selector-sadmin:hover {
    background: #9d9d9d;
  }
}
