.rounded-soft{
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

background: rgba(25,120,210,1);
background: -moz-linear-gradient(left, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 45%, rgba(21,94,178,1) 68%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,120,210,1)), color-stop(45%, rgba(21,94,178,1)), color-stop(68%, rgba(21,94,178,1)));
background: -webkit-linear-gradient(left, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 45%, rgba(21,94,178,1) 68%);
background: -o-linear-gradient(left, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 45%, rgba(21,94,178,1) 68%);
background: -ms-linear-gradient(left, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 45%, rgba(21,94,178,1) 68%);
background: linear-gradient(to right, rgba(25,120,210,1) 0%, rgba(21,94,178,1) 45%, rgba(21,94,178,1) 68%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1978d2', endColorstr='#155eb2', GradientType=1 );
}

