/* Estilos comunes para todas las resoluciones */
body {
  grid-area: body;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-gap: 1px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: auto;
}

header {
  display: block;
}

main {
  overflow-y: auto;
  height: auto;
}

.div-home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button-selector-home {
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: #cecece;
  border: 2px solid black;
  height: 45px;
  width: 80%;
  cursor: pointer;
}

/* Media Queries */
@media only screen and (min-width: 200px) and (orientation: portrait) {
  .div-home-buttons {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  header {
    height: auto;
  }
  .div-home-buttons {
    margin-top: 10px;
  }
}

/* Estilos para tabletas en formato portrait */
@media only screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait) {
  header {
    height: auto;
  }
  .div-home-buttons {
    margin-top: 40px;
  }
}

/* Estilos para tabletas en formato landscape */
@media only screen and (min-width: 1024px) and (max-width: 1200px) and (orientation: landscape) {
  .div-home-buttons {
    margin-top: 20px;
  }
}

/* Estilos para pantallas grandes en formato portrait */
@media only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  .button-selector-home {
    font-size: 18px;
    height: 50px;
    width: 40%;
  }
  .button-selector-home:hover {
    background: #9d9d9d;
  }
}

/* Estilos para pantallas grandes en formato landscape */
@media only screen and (min-width: 1800px) and (orientation: landscape) {
  .button-selector-home {
    font-size: 18px;
    height: 50px;
    width: 40%;
  }
  .button-selector-home:hover {
    background: #9d9d9d;
  }
}
