@media only screen and (min-width: 200px) and (orientation: portrait) {
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 1px;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
  }
  /* main { */
  /* height: auto; */
  /* overflow-y: auto; */
  /* } */
  header {
    display: block;
    top: 0;
    width: 100%;
    background: #ffffff;
    height: auto;
  }

  #doc,
  #numberDoc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    width: auto;
    margin-left: 10px;
  }
  #numberDoc {
    font-weight: 700;
    background: #ececec;
  }
  hr {
    width: 100%;
    color: #cecece;
  }

  table {
    width: 100%;
  }
  #tableControl {
    margin-top: 10px;
  }
  thead {
    background: #000000;
    width: 100%;
    height: 20px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
  }

  tbody {
    background: #ffffff;
    width: 100%;
    margin-bottom: 1px;
  }
  tbody tr td {
    height: 25px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
  }
  table tbody tr td input,
  table tbody tr td textarea,
  table tbody tr td button {
    font-size: 9px;
    width: 90%;
    border: 1px solid #000;
  }
  table tbody tr td div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  table tbody tr td div input {
    font-size: 9px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
  }

  table tbody tr td div button {
    font-size: 7px;
    width: 20%;
    height: 14px;
    margin-right: 10px;
    border-radius: 3px;
  }
  .InputButton-transparent {
    height: 70%;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 7px;
    border-radius: 3px;
    cursor: pointer;
    background: #97b7e8;
  }
  .InputButton-transparent:hover {
    background: #5588c7;
    border: 1px solid #5588c7;
    color: #fff;
  }
  .InputButton-transparent:active {
    background: #5588c7;
    border: 1px solid #5588c7;
    color: #fff;
  }
  select {
    border: 1px solid #000;
    /* padding: 0.5rem; */
    background-color: transparent;
    color: #000;
    font-size: 7px;
    height: 100%;
    cursor: pointer;
    width: 90%;
  }
  select option {
    background-color: #fff;
    color: #000;
    padding: 0.5rem;
    font-size: 10px;
    border: none;
  }
  select:focus {
    outline: none;
    border: 1px solid #000;
  }
  .transparent-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 50px;
    border-radius: 25px;
  }
  .transparent-button:hover {
    /* background: #cecece;
  border: 1px solid #000000; */
    font-size: 18px;
  }
  ul {
    list-style: none;
    padding: 0px;
  }
  li {
    display: inline;
    margin-right: 5px;
  }
  .img-select {
    width: 20px;
    height: 20px;
  }
  .img-select:hover {
    border: 1px solid #cecece;
  }
  canvas {
    display: none;
  }
  footer {
    height: 20px;
    margin-top: 5px;
  }
  #idCarteles,
  #idDivVerde {
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: auto;
  }
  #idDivAvisoRojo,
  #idDivAvisoImagenes {
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #idProcesoExitoso,
  #idDivAvisoVerde {
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #idSpanAvisoVerde,
  #idAguardeUnosInstantes,
  #idSpanAvisoImagenes,
  #idSpanAvisoRojo {
    font-size: 16px;
  }
  .comentarios,
  .comentariosPerson {
    font-size: 9px;
  }
  @keyframes spinner {
    0% {
      left: -100%; /* Inicio de la animación */
    }
    100% {
      left: 100%; /* Fin de la animación */
    }
  }
  #idDivMenu {
    margin: 22px 0px 0px 10px;
    width: 200px;
    padding: 10px;
  }
  #idDivPerson {
    height: auto;
    margin: 22px 20px 20px auto;
    width: 100px;
  }
  .planos {
    height: 50px;
    width: 200px;
  }
}

@media only screen and (min-width: 800px) and (orientation: landscape) {
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 1px;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
  }
  /* main { */
  /* height: auto; */
  /* overflow-y: auto; */
  /* } */
  header {
    display: block;
    top: 0;
    width: 100%;
    background: #ffffff;
    height: auto;
  }

  #doc,
  #numberDoc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    width: auto;
    margin-left: 10px;
  }
  #numberDoc {
    font-weight: 700;
    background: #ececec;
  }
  hr {
    width: 100%;
    color: #cecece;
  }

  table {
    width: 100%;
  }
  #tableControl {
    margin-top: 10px;
  }
  thead {
    background: #000000;
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }

  tbody {
    background: #ffffff;
    width: 100%;
    margin-bottom: 1px;
    height: 30px;
    font-size: 12px;
  }
  tbody tr td {
    height: 30px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
  table tbody tr td input,
  table tbody tr td textarea,
  table tbody tr td button {
    font-size: 12px;
    width: 90%;
    border: 1px solid #000;
  }
  table tbody tr td div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  table tbody tr td div input {
    font-size: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
  }

  table tbody tr td div button {
    font-size: 12px;
    width: 20%;
    height: 14px;
    margin-right: 10px;
    border-radius: 3px;
  }
  .InputButton-transparent {
    height: 70%;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    background: #97b7e8;
  }
  .InputButton-transparent:hover {
    background: #5588c7;
    border: 1px solid #5588c7;
    color: #fff;
  }
  .InputButton-transparent:active {
    background: #5588c7;
    border: 1px solid #5588c7;
    color: #fff;
  }
  select {
    border: 1px solid #000;
    /* padding: 0.5rem; */
    background-color: transparent;
    color: #000;
    font-size: 12px;
    height: 100%;
    cursor: pointer;
    width: 90%;
  }
  select option {
    background-color: #fff;
    color: #000;
    padding: 0.5rem;
    font-size: 12px;
    border: none;
  }
  select:focus {
    outline: none;
    border: 1px solid #000;
  }
  .transparent-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    width: 50px;
    border-radius: 25px;
  }
  .transparent-button:hover {
    /* background: #cecece;
  border: 1px solid #000000; */
    font-size: 18px;
  }
  ul {
    list-style: none;
    padding: 0px;
  }
  li {
    display: inline;
    margin-right: 5px;
  }
  .img-select {
    width: 30px;
    height: 30px;
  }
  .img-select:hover {
    border: 1px solid #cecece;
  }
  canvas {
    display: none;
  }
  footer {
    height: 20px;
    margin-top: 5px;
  }
  #idCarteles,
  #idDivVerde {
    width: 90%;
    margin-top: 0px;
    display: flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #idDivAvisoRojo,
  #idDivAvisoImagenes {
    width: 90%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  #idProcesoExitoso,
  #idDivAvisoVerde {
    width: 90%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  #idSpanAvisoVerde,
  #idAguardeUnosInstantes,
  #idSpanAvisoImagenes,
  #idSpanAvisoRojo {
    font-size: 20px;
  }
  .comentarios,
  .comentariosPerson {
    font-size: 12px;
  }
  @keyframes spinner {
    0% {
      left: -100%; /* Inicio de la animación */
    }
    100% {
      left: 100%; /* Fin de la animación */
    }
  }
  #idDivMenu {
    margin: 22px 0px 0px 10px;
    width: 300px;
    font-size: 10px;
    padding: 10px 10px 0px 10px;
  }
  #idDivPerson {
    height: auto;
    margin: 22px 20px 20px auto;
    width: 150px;
  }
  .planos {
    height: 200px;
    width: 500px;
  }
}

/* Estilos para tablets en orientación vertical (ancho mínimo de 800px) */
@media only screen and (min-width: 800px) and (orientation: portrait) {
  /* Estilos para tablets en orientación vertical */
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 1px;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
  }
  /* main { */
  /* height: auto; */
  /* overflow-y: auto; */
  /* } */
  header {
    display: block;
    top: 0;
    width: 100%;
    background: #ffffff;
    height: auto;
  }

  #doc,
  #numberDoc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    width: auto;
    margin-left: 10px;
  }
  #numberDoc {
    font-weight: 700;
    background: #ececec;
  }
  hr {
    width: 100%;
    color: #cecece;
  }

  table {
    width: 100%;
  }
  #tableControl {
    margin-top: 10px;
  }
  thead {
    background: #000000;
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }

  tbody {
    background: #ffffff;
    width: 100%;
    margin-bottom: 1px;
    height: 30px;
    font-size: 12px;
  }
  tbody tr td {
    height: 30px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
  table tbody tr td input,
  table tbody tr td textarea,
  table tbody tr td button {
    font-size: 12px;
    width: 90%;
    border: 1px solid #000;
  }
  table tbody tr td div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  table tbody tr td div input {
    font-size: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
  }

  table tbody tr td div button {
    font-size: 12px;
    width: 20%;
    height: 14px;
    margin-right: 10px;
    border-radius: 3px;
  }
  .InputButton-transparent {
    height: 70%;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    background: #97b7e8;
  }
  .InputButton-transparent:hover {
    background: #5588c7;
    border: 1px solid #5588c7;
    color: #fff;
  }
  .InputButton-transparent:active {
    background: #5588c7;
    border: 1px solid #5588c7;
    color: #fff;
  }
  select {
    border: 1px solid #000;
    /* padding: 0.5rem; */
    background-color: transparent;
    color: #000;
    font-size: 12px;
    height: 100%;
    cursor: pointer;
    width: 90%;
  }
  select option {
    background-color: #fff;
    color: #000;
    padding: 0.5rem;
    font-size: 12px;
    border: none;
  }
  select:focus {
    outline: none;
    border: 1px solid #000;
  }
  .transparent-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    width: 50px;
    border-radius: 25px;
  }
  .transparent-button:hover {
    /* background: #cecece;
  border: 1px solid #000000; */
    font-size: 40px;
  }
  ul {
    list-style: none;
    padding: 0px;
  }
  li {
    display: inline;
    margin-right: 5px;
  }
  .img-select {
    width: 40px;
    height: 40px;
  }
  .img-select:hover {
    border: 1px solid #cecece;
  }
  canvas {
    display: none;
  }
  footer {
    height: 20px;
    margin-top: 5px;
  }
  #idCarteles,
  #idDivVerde {
    width: 90%;
    margin-top: 0px;
    display: flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #idDivAvisoRojo,
  #idDivAvisoImagenes {
    width: 90%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  #idProcesoExitoso,
  #idDivAvisoVerde {
    width: 90%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  #idSpanAvisoVerde,
  #idAguardeUnosInstantes,
  #idSpanAvisoImagenes,
  #idSpanAvisoRojo {
    font-size: 16px;
  }
  .comentarios,
  .comentariosPerson {
    font-size: 12px;
  }
  @keyframes spinner {
    0% {
      left: -100%; /* Inicio de la animación */
    }
    100% {
      left: 100%; /* Fin de la animación */
    }
  }
  #idDivMenu {
    margin: 22px 0px 0px 10px;
  }
  #idDivPerson {
    height: auto;
    margin: 22px 20px 20px auto;
  }
  .planos {
    height: 200px;
    width: 500px;
  }
}

/* Estilos para tablets en orientación landscape (ancho mínimo de 800px) */
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  /* Estilos para tablets en orientación landscape */
}

/* Estilos para dispositivos de escritorio en orientación vertical (ancho mínimo de 1000px) */
@media only screen and (min-width: 1000px) and (orientation: portrait) {
  /* Estilos para dispositivos de escritorio en orientación vertical */
  #doc,
  #numberDoc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    width: auto;
    margin-left: 10px;
  }
  #numberDoc {
    font-weight: 700;
    background: #ececec;
  }
  .comentarios {
    font-size: 20px;
  }
  .comentariosPerson {
    font-size: 12px;
  }
  #idDivPerson {
    height: auto;
    margin: 22px 20px 20px auto;
  }
  table {
    width: 100%;
  }
  select {
    border: 1px solid #000;
    /* padding: 0.5rem; */
    background-color: transparent;
    color: #000;
    font-size: 12px;
    height: 100%;
    cursor: pointer;
    width: 90%;
  }
}

/* Estilos para dispositivos de escritorio en orientación landscape (ancho mínimo de 1000px) */
@media only screen and (min-width: 1080px) and (orientation: landscape) {
  /* Estilos para dispositivos de escritorio en orientación landscape */
  #doc,
  #numberDoc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    width: auto;
    margin-left: 10px;
  }
  #numberDoc {
    font-weight: 700;
    background: #ececec;
  }
  .comentarios {
    font-size: 20px;
  }
  .comentariosPerson {
    font-size: 12px;
  }
  #idDivPerson {
    height: auto;
    margin: 22px 20px 20px auto;
  }
  table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  thead {
    height: 35px;
    font-size: 14px;
  }
  tbody tr td {
    height: 35px;
    font-size: 14px;
  }
  input {
    height: 25px;
    font-size: 14px;
    width: 100%;
  }
  textarea {
    font-size: 14px;
  }
  .div-span {
    margin-left: 30px;
    margin-right: 30px;
  }
}
