:root {
  --font-size-doc: 12px;
  --font-size-header: 9px;
  --font-size-table-head: 9px;
  --font-size-table-body: 9px;
  --font-size-input: 12px;
  --font-size-button: 7px;
}
#volver {
  display: none;
}
.element-disabled {
  background: #ecebeb;
}

/* Estilos generales */
body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-gap: 1px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: auto;
  overflow-x: hidden;
}

/* Encabezado */
header {
  display: block;
  top: 0;
  width: 100%;
  background: #ffffff;
  height: auto;
}

/* Estilos para los documentos */
#doc,
#numberDoc {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--font-size-doc);
  font-style: normal;
  font-weight: 600;
  width: auto;
  margin-left: 10px;
}

#numberDoc {
  font-weight: 700;
  background: #ececec;
}

/* Línea divisoria */
hr {
  width: 100%;
  color: #cecece;
}

/* Control de tabla */
#tableControl {
  margin-top: 10px;
}
.transparent-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 50px;
  border-radius: 25px;
}

.planos {
  height: 50vw;
  width: 80vw;
}
.transparent-button:hover {
  font-size: 18px;
}
.InputButton-transparent {
  height: 100%;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
  background: #000;
  color: #cecece;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.InputButton-transparent:hover {
  background: #cecece;
  border: 1px solid #000;
  color: #000;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.InputButton-transparent:active {
  background: #5588c7;
  border: 1px solid #cece;
  color: #fff;
}
.button-cn {
  gap: 2px;
  height: 100%;
}
ul {
  list-style: none;
  padding: 0px;
}
li {
  display: inline;
  margin-right: 5px;
}

.img-select {
  height: 30px;
}
.img-select:hover {
  border: 1px solid #cecece;
}
.custom-checkbox {
  width: 2rem;
}
#imageInput {
  display: none;
}

.add-button {
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.div-pastillita {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 6px;
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  margin-left: 2px;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%; /* <== fuerza a ajustarse al td */
  box-sizing: border-box; /* <== que el padding y border no rompan el 100% */
  overflow-wrap: break-word; /* rompe palabras si se va muy lejos */
  word-break: break-word; /* para palabras largas tipo 'largooooooooo' */
}

.pastilla {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 4px 6px;
  max-width: 100%;
  word-break: break-word;
  overflow: hidden;
  flex-shrink: 1; /* <= que no se niegue a reducir */
}

.label-email {
  color: #212121;
  white-space: normal; /* permite que el texto largo se acomode */
  font-size: 12px;
  margin-right: 6px;
  line-height: 1.2;
}

.button-email {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #212121;
  color: #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  flex-shrink: 0;
}

.div-pastillita:empty {
  display: none;
}

/* Estilos para dispositivos móviles */
@media only screen and (min-width: 200px) and (orientation: portrait) {
  /* Agrega estilos para dispositivos móviles aquí */
  /* Tabla */
  table {
    width: 100%;
  }

  /* Encabezado de tabla */
  thead {
    background: #000000;
    width: 100%;
    height: 25px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }

  /* Cuerpo de tabla */
  tbody {
    background: #ffffff;
    width: 100%;
    margin-bottom: 1px;
  }

  /* Celdas de tabla */
  tbody tr td {
    height: 25px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--font-size-table-body);
    font-style: normal;
    font-weight: 500;
  }

  /* Estilos para los campos de entrada en la tabla */
  /* table tbody tr td input {
    font-size: var(--font-size-input);
    width: 90%;
    border: 1px solid #000;
    height: 70%;
  } */
  table tbody tr td input[type='text'],
  table tbody tr td input[type='number'],
  table tbody tr td input[type='date'],
  table tbody tr td input[type='time'] {
    font-size: var(--font-size-input);
    width: 90%;
    border: 1px solid #000;
    height: 100%;
  }

  table tbody tr td textarea {
    font-size: var(--font-size-input);
    width: 90%;
    border: 1px solid #000;
    height: auto;
  }
  table tbody tr td button,
  table tbody tr td select {
    font-size: var(--font-size-input);
    width: 90%;
    border: 1px solid #000;
    height: 100%;
  }

  /* Estilos para los contenedores en las celdas de tabla */
  table tbody tr td div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Estilos para los campos de entrada dentro de los contenedores */
  table tbody tr td div input {
    font-size: var(--font-size-input);
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
    height: 100%;
  }
  table tbody tr td div select {
    font-size: var(--font-size-input);
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
    height: 100%;
  }
  /* Estilos para los botones */
  button {
    font-size: var(--font-size-button);
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 100%;
  }
  .transparent-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 50px;
    border-radius: 25px;
  }

  /* .planos {
    height: 50px;
    width: 200px;
  } */
  .transparent-button:hover {
    font-size: 18px;
  }
  .InputButton-transparent {
    height: 100%;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    background: #000;
    color: #cecece;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .InputButton-transparent:hover {
    background: #cecece;
    border: 1px solid #000;
    color: #000;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .InputButton-transparent:active {
    background: #5588c7;
    border: 1px solid #cece;
    color: #fff;
  }
  .button-cn {
    gap: 2px;
    height: 100%;
  }
  .custom-checkbox {
    width: 2rem;
    height: 2rem;
  }
}

/* Estilos para dispositivos móviles landscape*/
@media only screen and (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  /* Agrega estilos para dispositivos móviles aquí */
  #doc,
  #numberDoc {
    font-size: 14px;
  }
  /* Tabla */
  table {
    width: 100%;
  }

  /* Encabezado de tabla */
  thead {
    background: #000000;
    width: 100%;
    height: 25px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  /* Cuerpo de tabla */
  tbody {
    background: #ffffff;
    width: 100%;
    margin-bottom: 1px;
  }

  /* Celdas de tabla */
  tbody tr td {
    height: 25px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }

  /* Estilos para los campos de entrada en la tabla */
  /* table tbody tr td input {
    font-size: 12px;
    width: 90%;
    border: 1px solid #000;
    height: 70%;
  } */
  table tbody tr td input[type='text'],
  table tbody tr td input[type='number'],
  table tbody tr td input[type='date'],
  table tbody tr td input[type='time'] {
    font-size: var(--font-size-input);
    width: 90%;
    border: 1px solid #000;
    height: 100%;
  }

  table tbody tr td textarea {
    font-size: 12px;
    width: 90%;
    border: 1px solid #000;
    height: auto;
  }
  table tbody tr td button,
  table tbody tr td select {
    font-size: 12px;
    width: 90%;
    border: 1px solid #000;
    height: 100%;
  }
  /* Estilos para los contenedores en las celdas de tabla */
  table tbody tr td div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Estilos para los campos de entrada dentro de los contenedores */
  table tbody tr td div input {
    font-size: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
    height: 100%;
  }
  table tbody tr td div select {
    font-size: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
    height: 100%;
  }
  /* Estilos para los botones */
  button {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 100%;
  }

  /* .planos {
    height: 100px;
    width: 300px;
  } */
  .transparent-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    width: 50px;
    border-radius: 25px;
  }
  .transparent-button:hover {
    font-size: 18px;
  }
  .InputButton-transparent {
    height: 100%;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    background: #000;
    color: #cecece;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .InputButton-transparent:hover {
    background: #cecece;
    border: 1px solid #000;
    color: #000;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .InputButton-transparent:active {
    background: #5588c7;
    border: 1px solid #cece;
    color: #fff;
  }
  .button-cn {
    gap: 2px;
    height: 100%;
  }
  .img-select {
    height: 50px;
  }
  .custom-checkbox {
    width: 2rem;
    height: 2rem;
  }
}

/* Estilos para tabletas en formato portrait */
@media only screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait) {
  /* Agrega estilos para tabletas en formato portrait aquí */
  #doc,
  #numberDoc {
    font-size: 14px;
  }
  /* Tabla */
  table {
    width: 100%;
  }

  /* Encabezado de tabla */
  thead {
    background: #000000;
    width: 100%;
    height: 25px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  /* Cuerpo de tabla */
  tbody {
    background: #ffffff;
    width: 100%;
    margin-bottom: 1px;
  }

  /* Celdas de tabla */
  tbody tr td {
    height: 25px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }

  /* Estilos para los campos de entrada en la tabla */
  /* table tbody tr td input {
    font-size: 12px;
    width: 90%;
    border: 1px solid #000;
    height: 70%;
  } */
  table tbody tr td input[type='text'],
  table tbody tr td input[type='number'],
  table tbody tr td input[type='date'],
  table tbody tr td input[type='time'] {
    font-size: var(--font-size-input);
    width: 90%;
    border: 1px solid #000;
    height: 100%;
  }

  table tbody tr td textarea {
    font-size: 12px;
    width: 90%;
    border: 1px solid #000;
    height: auto;
  }
  table tbody tr td button,
  table tbody tr td select {
    font-size: 12px;
    width: 90%;
    border: 1px solid #000;
    height: 100%;
  }

  /* Estilos para los contenedores en las celdas de tabla */
  table tbody tr td div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Estilos para los campos de entrada dentro de los contenedores */
  table tbody tr td div input {
    font-size: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
    height: 70%;
  }
  table tbody tr td div select {
    font-size: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
    height: 80%;
  }

  /* Estilos para los botones */
  button {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 70%;
  }
  /* .planos {
    height: 100px;
    width: 300px;
  } */
  .transparent-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    width: 50px;
    border-radius: 25px;
  }
  .transparent-button:hover {
    font-size: 18px;
  }
  .InputButton-transparent {
    height: 100%;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    background: #000;
    color: #cecece;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .InputButton-transparent:hover {
    background: #cecece;
    border: 1px solid #000;
    color: #000;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .InputButton-transparent:active {
    background: #5588c7;
    border: 1px solid #cece;
    color: #fff;
  }
  .button-cn {
    gap: 2px;
    height: 100%;
  }
  .img-select {
    height: 50px;
  }
  .custom-checkbox {
    width: 2rem;
    height: 2rem;
  }
}

/* Estilos para tabletas en formato landscape */
@media only screen and (min-width: 1024px) and (max-width: 1200px) and (orientation: landscape) {
  /* Agrega estilos para tabletas en formato landscape aquí */
  #doc,
  #numberDoc {
    font-size: 14px;
  }
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .div-span {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  /* Tabla */
  table {
    width: 100%;
  }

  /* Encabezado de tabla */
  thead {
    background: #000000;
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  /* Cuerpo de tabla */
  tbody {
    background: #ffffff;
    width: 100%;
    margin-bottom: 1px;
  }

  /* Celdas de tabla */
  tbody tr td {
    height: 30px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  /* Estilos para los campos de entrada en la tabla */
  /* table tbody tr td input {
    font-size: 14px;
    width: 90%;
    border: 1px solid #000;
    height: 70%;
  } */
  table tbody tr td input[type='text'],
  table tbody tr td input[type='number'],
  table tbody tr td input[type='date'],
  table tbody tr td input[type='time'] {
    font-size: var(--font-size-input);
    width: 90%;
    border: 1px solid #000;
    height: 70%;
  }

  table tbody tr td textarea {
    font-size: 12px;
    width: 90%;
    border: 1px solid #000;
    height: auto;
  }
  table tbody tr td button,
  table tbody tr td select {
    font-size: 14px;
    width: 90%;
    border: 1px solid #000;
    height: 80%;
  }
  /* Estilos para los contenedores en las celdas de tabla */
  table tbody tr td div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Estilos para los campos de entrada dentro de los contenedores */
  table tbody tr td div input {
    font-size: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
    height: 70%;
  }
  table tbody tr td div select {
    font-size: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
    height: 80%;
  }

  /* Estilos para los botones */
  button {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 70%;
  }

  /* .planos {
    height: 150px;
    width: 350px;
  } */
  .transparent-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    width: 50px;
    border-radius: 25px;
  }
  .transparent-button:hover {
    font-size: 18px;
  }
  .InputButton-transparent {
    height: 100%;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    background: #000;
    color: #cecece;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .InputButton-transparent:hover {
    background: #cecece;
    border: 1px solid #000;
    color: #000;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .InputButton-transparent:active {
    background: #5588c7;
    border: 1px solid #cece;
    color: #fff;
  }
  .button-cn {
    gap: 2px;
    height: 100%;
  }
  .img-select {
    height: 50px;
  }
  .custom-checkbox {
    width: 2rem;
    height: 2rem;
  }
}

/* Estilos para pantallas grandes en formato portrait */
@media only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  /* Agrega estilos para pantallas grandes en formato portrait aquí */
  #doc,
  #numberDoc {
    font-size: 18px;
  }
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .div-span {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  /* Tabla */
  table {
    width: 100%;
  }

  /* Encabezado de tabla */
  thead {
    background: #000000;
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  /* Cuerpo de tabla */
  tbody {
    background: #ffffff;
    width: 100%;
    margin-bottom: 1px;
  }

  /* Celdas de tabla */
  tbody tr td {
    height: 30px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  /* Estilos para los campos de entrada en la tabla */
  /* table tbody tr td input {
    font-size: 14px;
    width: 90%;
    border: 1px solid #000;
    height: 70%;
  } */
  table tbody tr td input[type='text'],
  table tbody tr td input[type='number'],
  table tbody tr td input[type='date'],
  table tbody tr td input[type='time'] {
    font-size: var(--font-size-input);
    width: 90%;
    border: 1px solid #000;
    height: 70%;
  }

  table tbody tr td textarea {
    font-size: 14px;
    width: 90%;
    border: 1px solid #000;
    height: auto;
  }

  table tbody tr td button,
  table tbody tr td select {
    font-size: 14px;
    width: 90%;
    border: 1px solid #000;
    height: 90%;
  }

  /* Estilos para los contenedores en las celdas de tabla */
  table tbody tr td div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Estilos para los campos de entrada dentro de los contenedores */
  table tbody tr td div input {
    font-size: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
    height: 70%;
  }
  table tbody tr td div select {
    font-size: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
    height: 80%;
  }

  /* Estilos para los botones */
  button {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 70%;
  }
  /* .planos {
    height: 200px;
    width: 400px;
  } */
  .transparent-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 28px;
    width: 50px;
    border-radius: 25px;
  }
  .transparent-button:hover {
    font-size: 32px;
  }
  .InputButton-transparent {
    height: 100%;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    background: #000;
    color: #cecece;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .InputButton-transparent:hover {
    background: #cecece;
    border: 1px solid #000;
    color: #000;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .InputButton-transparent:active {
    background: #5588c7;
    border: 1px solid #cece;
    color: #fff;
  }
  .button-cn {
    gap: 2px;
    height: 100%;
  }
  .img-select {
    height: 80px;
  }
  .custom-checkbox {
    width: 2rem;
    height: 2rem;
  }
}

/* Estilos para pantallas grandes en formato landscape */
@media only screen and (min-width: 1800px) and (orientation: landscape) {
  /* Agrega estilos para pantallas grandes en formato landscape aquí */
  #doc,
  #numberDoc {
    font-size: 18px;
  }

  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .div-span {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  /* Tabla */
  table {
    width: 100%;
  }

  /* Encabezado de tabla */
  thead {
    background: #000000;
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  /* Cuerpo de tabla */
  tbody {
    background: #ffffff;
    width: 100%;
    margin-bottom: 1px;
  }

  /* Celdas de tabla */
  tbody tr td {
    height: 30px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  /* Estilos para los campos de entrada en la tabla */
  /* table tbody tr td input {
    font-size: 14px;
    width: 90%;
    border: 1px solid #000;
    height: 70%;
  } */
  table tbody tr td input[type='text'],
  table tbody tr td input[type='number'],
  table tbody tr td input[type='date'],
  table tbody tr td input[type='time'] {
    font-size: var(--font-size-input);
    width: 90%;
    border: 1px solid #000;
    height: 70%;
  }

  table tbody tr td textarea {
    font-size: 12px;
    width: 90%;
    border: 1px solid #000;
    height: auto;
  }
  table tbody tr td button,
  table tbody tr td select {
    font-size: 14px;
    width: 90%;
    border: 1px solid #000;
    height: 90%;
  }

  /* Estilos para los contenedores en las celdas de tabla */
  table tbody tr td div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Estilos para los campos de entrada dentro de los contenedores */
  table tbody tr td div input {
    font-size: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
    height: 70%;
  }
  table tbody tr td div select {
    font-size: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
    height: 80%;
  }

  /* Estilos para los botones */
  button {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 80%;
  }
  /* .planos {
    height: 300px;
    width: 400px;
  } */
  .transparent-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 28px;
    width: 50px;
    border-radius: 25px;
  }
  .transparent-button:hover {
    font-size: 32px;
  }
  .InputButton-transparent {
    height: 100%;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    background: #000;
    color: #cecece;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .InputButton-transparent:hover {
    background: #cecece;
    border: 1px solid #000;
    color: #000;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .InputButton-transparent:active {
    background: #5588c7;
    border: 1px solid #cece;
    color: #fff;
  }
  .button-cn {
    gap: 2px;
    height: 100%;
  }
  .img-select {
    height: 80px;
  }
  .custom-checkbox {
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (min-width: 1800px) {
  .div-span {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #doc,
  #numberDoc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    width: auto;
    margin-left: 10px;
  }
}
