/* Estilos comunes para todas las resoluciones */
body {
  grid-area: body;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-gap: 1px;
  margin: 0;
  padding: 0;
  /* flex-direction: column; */
  height: auto;
}

main {
  display: block;
  overflow-y: auto;
  min-height: 0;
  grid-template-rows: auto auto; /* Dos filas, cada una con un div en dispositivos móviles */
  grid-template-columns: 100%; /* Una columna en móviles */
}

.div1,
.div2 {
  margin-top: 10px;
  padding: 10px; /* Espacio interior para visualización */
  border: 1px solid #ccc; /* Borde para mejor visualización */
}

form {
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
  font-size: 10px;
  color: #9d9d9d;
  margin-bottom: 2px;
}

input[type='text'],
input[type='email'],
input[type='date'] {
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #000;
  margin-top: 2px;
  padding-left: 5px;
  height: 20px;
}

select {
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #000;
  margin-top: 2px;
  padding-left: 5px;
  height: 25px;
}

textarea {
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #000;
  margin-top: 2px;
  padding-left: 5px;
  width: 98%; /* Ocupa el 100% del ancho del contenedor */
  height: 50px; /* Altura fija de 150px */
  min-width: 300px; /* Mínimo ancho de 300px */
  max-width: 400px; /* Máximo ancho de 600px */
  min-height: 50px; /* Mínimo altura de 100px */
  max-height: 700px; /* Máximo altura de 300px */
  resize: none;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
}

hr {
  border: none;
  height: 1px;
  background-color: #bababa;
  margin: 0;
  width: 100%;
}

.input-button {
  display: none;
  width: 100%;
}

.input-button .input-field {
  flex-grow: 9;
  flex-shrink: 1;
  flex-basis: 0%;
  margin-right: 10px; /* Añade espacio entre el input y el botón */
}

.input-button .add-button {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.input-field {
  height: 20px;
}

.add-button {
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.div-pastillita {
  display: inline-flex; /* Cambiado de 'flex' a 'inline-flex' */
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  margin-left: 2px;
  justify-content: center;
  align-items: center; /* Asegurar alineación vertical del contenido */
}

.label-email {
  color: #212121;
  white-space: nowrap; /* Evitar que el texto del label se envuelva */
  margin-left: 2px;
  margin-right: 2px;
}

.button-email {
  width: 20px; /* Ancho fijo para el botón */
  height: 20px; /* Altura fija para el botón, ajustar según necesidad */
  border-radius: 5px;
  background-color: #212121;
  color: #cecece;
  margin-left: 2px;
  display: flex; /* Utilizar flex dentro del botón para centrar el texto/icono */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.table-reporte,
.table-reporte-pie,
.table-reporte-cuerpo {
  width: 96%;
  border-collapse: collapse;
  border: 1px solid #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-weight: 700;
}

.table-reporte th,
td {
  width: 8%;
  border: 1px solid #000;
  padding: 0.3em;
  background: #fff;
  /* border-spacing: 0; */
}

#logoReporte {
  height: 60px;
}

.tbody-reporte-pie {
  border: 1px solid #000;
  padding: 0.3em;
  background: #fff;
}

.thead-reporte th {
  color: transparent; /* Hace el texto transparente */
  border: none; /* Elimina los bordes */
  background-color: transparent; /* Fondo transparente */
}

#logoReporte,
#empresaReporte,
#controlReporte,
#regdcReporte,
#vigenciaReporte,
#firma1,
#firma2,
#controlCambios,
#filaVersion {
  text-align: center;
  align-items: center;
  font-weight: 700;
}

#firmas {
  height: 50px;
  text-align: center;
  align-items: center;
  font-weight: 700;
}

#imgLogoReporte {
  height: 30px;
  width: 30px;
}

/* Media Queries */
@media only screen and (min-width: 200px) and (orientation: portrait) {
}

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
}

@media only screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait) {
  main {
    grid-template-rows: 1fr; /* Una fila */
    grid-template-columns: 1fr 1fr; /* Dos columnas */
  }

  .div1,
  .div2 {
    border: 1px solid #ccc;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) and (orientation: landscape) {
  main {
    grid-template-rows: 1fr; /* Una fila */
    grid-template-columns: 1fr 1fr; /* Dos columnas */
  }

  .div1,
  .div2 {
    border: 1px solid #ccc;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  main {
    grid-template-rows: 1fr; /* Una fila */
    grid-template-columns: 1fr 1fr; /* Dos columnas */
  }

  .div1,
  .div2 {
    border: 1px solid #ccc;
  }
}

@media only screen and (min-width: 1800px) and (orientation: landscape) {
  main {
    grid-template-rows: 1fr; /* Una fila */
    grid-template-columns: 1fr 1fr; /* Dos columnas */
  }

  .div1,
  .div2 {
    border: 1px solid #ccc;
  }
}
