@media only screen and (min-width: 200px) and (orientation: portrait) {
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 1px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* min-height: 90vh; */
    height: auto;
    background: #ececec;
  }
  header {
    display: block;
  }
  main {
    /* overflow-y: none; */
    height: auto;
    min-width: 100%;
  }

  /* #idDivPerson {
    margin: 22px 0px 20px auto;
  } */
  hr {
    width: 100%;
    color: #cecece;
  }

  #tableConsultaViews {
    margin-top: 5px;
    display: none;
    overflow-y: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  thead {
    background: #000000;
    width: 90%;
    height: 20px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }

  tbody {
    background: #ffffff;
    width: 90%;
    margin-bottom: 1px;
    /* overflow-y: auto; */
  }

  tbody tr {
    width: 90%;
  }

  tbody tr td {
    height: 20px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  table tbody tr td input,
  table tbody tr td textarea,
  table tbody tr td button {
    font-size: 9px;
    width: 90%;
    border: 1px solid #000;
  }
  table tbody tr td div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  table tbody tr td div input {
    font-size: 9px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
  }

  table tbody tr td div button {
    font-size: 7px;
    width: 20%;
    height: 14px;
    margin-right: 10px;
    border-radius: 3px;
  }
  .img-view:hover {
    background-color: #b0b0b0;
    box-shadow: 1px 1px 1px #888888;
    border-radius: 10px;
  }
  .img-trash:hover {
    background-color: #b0b0b0;
    box-shadow: 2px 2px 2px #e90505;
    border-radius: 10px;
  }
  .nr {
    font-size: 10px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 1px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* min-height: 90vh; */
    height: auto;
    background: #ececec;
  }
  header {
    display: block;
  }
  main {
    /* overflow-y: none; */
    height: auto;
    min-width: 100%;
  }

  /* #idDivPerson {
    margin: 22px 0px 20px auto;
  } */
  hr {
    width: 100%;
    color: #cecece;
  }

  #tableConsultaViews {
    margin-top: 5px;
    display: none;
    overflow-y: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  thead {
    background: #000000;
    width: 90%;
    height: 30px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  tbody {
    background: #ffffff;
    width: 90%;
    margin-bottom: 1px;
    /* overflow-y: auto; */
  }

  tbody tr {
    width: 90%;
  }

  tbody tr td {
    height: 30px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
  table tbody tr td input,
  table tbody tr td textarea,
  table tbody tr td button {
    font-size: 9px;
    width: 90%;
    border: 1px solid #000;
  }
  table tbody tr td div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  table tbody tr td div input {
    font-size: 9px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
  }

  table tbody tr td div button {
    font-size: 7px;
    width: 20%;
    height: 14px;
    margin-right: 10px;
    border-radius: 3px;
  }
  .img-view:hover {
    background-color: #b0b0b0;
    box-shadow: 1px 1px 1px #888888;
    border-radius: 10px;
  }
  .img-trash:hover {
    background-color: #b0b0b0;
    box-shadow: 2px 2px 2px #e90505;
    border-radius: 10px;
  }
  .nr {
    font-size: 12px;
  }
}

/* Estilos para tablets en orientación vertical (ancho mínimo de 800px) */
@media only screen and (min-width: 768px) and (max-width: 834px) and (min-height: 1024px) and (max-height: 1126px) and (orientation: portrait) {
  /* Estilos para tablets en orientación vertical */
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 1px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* min-height: 90vh; */
    height: auto;
    background: #ececec;
  }
  header {
    display: block;
  }
  main {
    /* overflow-y: none; */
    height: auto;
    min-width: 100%;
  }

  /* #idDivPerson {
    margin: 22px 0px 20px auto;
  } */
  hr {
    width: 100%;
    color: #cecece;
  }

  #tableConsultaViews {
    margin-top: 5px;
    display: none;
    overflow-y: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  thead {
    background: #000000;
    width: 90%;
    height: 30px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  tbody {
    background: #ffffff;
    width: 90%;
    margin-bottom: 1px;
    /* overflow-y: auto; */
  }

  tbody tr {
    width: 90%;
  }

  tbody tr td {
    height: 30px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
  table tbody tr td input,
  table tbody tr td textarea,
  table tbody tr td button {
    font-size: 9px;
    width: 90%;
    border: 1px solid #000;
  }
  table tbody tr td div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  table tbody tr td div input {
    font-size: 9px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
  }

  table tbody tr td div button {
    font-size: 7px;
    width: 20%;
    height: 14px;
    margin-right: 10px;
    border-radius: 3px;
  }
  .img-view:hover {
    background-color: #b0b0b0;
    box-shadow: 1px 1px 1px #888888;
    border-radius: 10px;
  }
  .img-trash:hover {
    background-color: #b0b0b0;
    box-shadow: 2px 2px 2px #e90505;
    border-radius: 10px;
  }
  .nr {
    font-size: 12px;
  }
}

/* Estilos para tablets en orientación landscape (ancho mínimo de 800px) */
@media only screen and (min-width: 1024px) and (max-width: 1126px) and (min-height: 768px) and (max-height: 834px) and (orientation: landscape) {
  /* Estilos para tablets en orientación landscape */
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 1px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* min-height: 90vh; */
    height: auto;
    background: #ececec;
  }
  header {
    display: block;
  }
  main {
    /* overflow-y: none; */
    height: auto;
    min-width: 100%;
  }

  /* #idDivPerson {
    margin: 22px 0px 20px auto;
  } */
  hr {
    width: 100%;
    color: #cecece;
  }

  #tableConsultaViews {
    margin-top: 5px;
    display: none;
    overflow-y: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  thead {
    background: #000000;
    width: 90%;
    height: 30px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  tbody {
    background: #ffffff;
    width: 90%;
    margin-bottom: 1px;
    /* overflow-y: auto; */
  }

  tbody tr {
    width: 90%;
  }

  tbody tr td {
    height: 30px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
  table tbody tr td input,
  table tbody tr td textarea,
  table tbody tr td button {
    font-size: 9px;
    width: 90%;
    border: 1px solid #000;
  }
  table tbody tr td div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  table tbody tr td div input {
    font-size: 9px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
  }

  table tbody tr td div button {
    font-size: 7px;
    width: 20%;
    height: 14px;
    margin-right: 10px;
    border-radius: 3px;
  }
  .img-view:hover {
    background-color: #b0b0b0;
    box-shadow: 1px 1px 1px #888888;
    border-radius: 10px;
  }
  .img-trash:hover {
    background-color: #b0b0b0;
    box-shadow: 2px 2px 2px #e90505;
    border-radius: 10px;
  }
  .nr {
    font-size: 12px;
  }
}

/* Estilos para dispositivos de escritorio en orientación vertical (ancho mínimo de 1000px) */
@media only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  /* Estilos para dispositivos de escritorio en orientación vertical */
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 1px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* min-height: 90vh; */
    height: auto;
    background: #ececec;
  }
  header {
    display: block;
  }
  main {
    /* overflow-y: none; */
    height: auto;
    min-width: 100%;
  }

  /* #idDivPerson {
    margin: 22px 0px 20px auto;
  } */
  hr {
    width: 100%;
    color: #cecece;
  }

  #tableConsultaViews {
    margin-top: 5px;
    display: none;
    overflow-y: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  thead {
    background: #000000;
    width: 90%;
    height: 30px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }

  tbody {
    background: #ffffff;
    width: 90%;
    margin-bottom: 1px;
    /* overflow-y: auto; */
  }

  tbody tr {
    width: 90%;
  }

  tbody tr td {
    height: 30px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  table tbody tr td input,
  table tbody tr td textarea,
  table tbody tr td button {
    font-size: 9px;
    width: 90%;
    border: 1px solid #000;
  }
  table tbody tr td div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  table tbody tr td div input {
    font-size: 9px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
  }

  table tbody tr td div button {
    font-size: 7px;
    width: 20%;
    height: 14px;
    margin-right: 10px;
    border-radius: 3px;
  }
  .img-view:hover {
    background-color: #b0b0b0;
    box-shadow: 1px 1px 1px #888888;
    border-radius: 10px;
  }
  .img-trash:hover {
    background-color: #b0b0b0;
    box-shadow: 2px 2px 2px #e90505;
    border-radius: 10px;
  }
  .nr {
    font-size: 12px;
  }
}

/* Estilos para dispositivos de escritorio en orientación landscape (ancho mínimo de 1000px) */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  /* Estilos para dispositivos de escritorio en orientación landscape */
  body {
    grid-area: body;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-gap: 1px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* min-height: 90vh; */
    height: auto;
    background: #ececec;
  }
  header {
    display: block;
  }
  main {
    /* overflow-y: none; */
    height: auto;
    min-width: 100%;
  }

  /* #idDivPerson {
    margin: 22px 0px 20px auto;
  } */
  hr {
    width: 100%;
    color: #cecece;
  }

  #tableConsultaViews {
    margin-top: 5px;
    display: none;
    overflow-y: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  thead {
    background: #000000;
    width: 90%;
    height: 30px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }

  tbody {
    background: #ffffff;
    width: 90%;
    margin-bottom: 1px;
    /* overflow-y: auto; */
  }

  tbody tr {
    width: 90%;
  }

  tbody tr td {
    height: 30px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  table tbody tr td input,
  table tbody tr td textarea,
  table tbody tr td button {
    font-size: 9px;
    width: 90%;
    border: 1px solid #000;
  }
  table tbody tr td div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  table tbody tr td div input {
    font-size: 9px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: 1px solid #000;
  }

  table tbody tr td div button {
    font-size: 7px;
    width: 20%;
    height: 14px;
    margin-right: 10px;
    border-radius: 3px;
  }
  .img-view:hover {
    background-color: #b0b0b0;
    box-shadow: 1px 1px 1px #888888;
    border-radius: 10px;
  }
  .img-trash:hover {
    background-color: #b0b0b0;
    box-shadow: 2px 2px 2px #e90505;
    border-radius: 10px;
  }
  .nr {
    font-size: 12px;
  }
}
