/* Estilos comunes */

body {
  grid-area: body;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: 'header' 'main' 'footer';
  grid-gap: 1px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: auto;
  background: #ececec;
}

header {
  display: block;
}

main {
  height: auto;
  min-width: 100%;
}

hr {
  width: 100%;
  color: #cecece;
}

#tableConsultaViews {
  margin-top: 5px;
  display: none;
  overflow-y: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

thead {
  background: #000000;
  width: 90%;
  height: 20px;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

tbody {
  background: #ffffff;
  width: 90%;
  margin-bottom: 1px;
}

tbody tr {
  width: 90%;
}

tbody tr td {
  height: 20px;
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}

table tbody tr td input,
table tbody tr td textarea,
table tbody tr td button {
  font-size: 9px;
  width: 90%;
  border: 1px solid #000;
}

table tbody tr td div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table tbody tr td div input {
  font-size: 9px;
  width: 50%;
  height: 100%;
  margin-left: 10px;
  border: 1px solid #000;
}

table tbody tr td div button {
  font-size: 7px;
  width: 20%;
  height: 14px;
  margin-right: 10px;
  border-radius: 3px;
}

.img-view:hover {
  background-color: #b0b0b0;
  box-shadow: 1px 1px 1px #888888;
  border-radius: 10px;
}

.img-trash:hover {
  background-color: #b0b0b0;
  box-shadow: 2px 2px 2px #e90505;
  border-radius: 10px;
}

.nr {
  font-size: 10px;
}

/* Media queries */

@media only screen and (min-width: 200px) and (orientation: portrait) {
  /* No hay cambios adicionales */
}

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  /* No hay cambios adicionales */
  tbody tr td {
    font-size: 12px;
  }
  .nr {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait) {
  /* Cambios para tablets en orientaci贸n vertical */
  #tableConsultaViews {
    width: 95%;
  }
  thead {
    height: 30px;
    font-size: 14px;
  }
  tbody tr td {
    height: 30px;
    font-size: 14px;
  }
  .nr {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1126px) and (orientation: landscape) {
  /* Cambios para tablets en orientaci贸n landscape */
  #tableConsultaViews {
    width: 95%;
  }
  thead {
    height: 30px;
    font-size: 14px;
  }
  tbody tr td {
    height: 30px;
    font-size: 14px;
  }
  .nr {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  /* Cambios para pantallas grandes en orientaci贸n landscape */
  #tableConsultaViews {
    width: 90%;
  }
  thead {
    height: 30px;
    font-size: 18px;
  }
  tbody tr td {
    height: 30px;
    font-size: 14px;
  }
  .nr {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1800px) and (orientation: landscape) {
  /* Cambios para pantallas grandes en orientaci贸n landscape */
  #tableConsultaViews {
    width: 90%;
  }
  thead {
    height: 30px;
    font-size: 18px;
  }
  tbody tr td {
    height: 30px;
    font-size: 14px;
  }
  .nr {
    font-size: 14px;
  }
}
